
.vs/Amazons/v16/Browse.VC.opendb
.vs/Amazons/v16/Browse.VC.db
.vs/Amazons/v16/.suo
.vs/Amazons/v16/Browse.VC.db-shm
.vs/Amazons/v16/Browse.VC.db-wal
Debug/vc142.pdb
Debug/vc142.idb
Debug/Amazons.pdb
Debug/vc142.pdb
Debug/vc142.pdb
Debug/vc142.idb
Debug/alfabetaai.obj.enc
Debug/AlfaBetaAI.obj
Debug/Amazons.ilk
Debug/Amazons.ilk
Debug/Amazons.pdb
Debug/vc142.pdb
Debug/vc142.idb
Debug/AlfaBetaAI.obj
Debug/Amazons.ilk
.vs/Amazons/v16/ipch/AutoPCH/2b0101dc74dd4e43/ALFABETAAI_FS.ipch
.vs/Amazons/v16/ipch/AutoPCH/3dccba41360c20ad/ALFABETAAI.ipch
.vs/Amazons/v16/ipch/AutoPCH/3e2d006a7357b4f5/BOARD.ipch
.vs/Amazons/v16/ipch/AutoPCH/ccf48481226b016c/MAIN.ipch
.vs/Amazons/v16/ipch/AutoPCH/ced3d634389fb147/UI.ipch
.vs/Amazons/v16/ipch/AutoPCH/fd0242e82b1fcb58/PERSON.ipch
.vs/Amazons/v16/Solution.VC.db
